<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- @author A -->
<!-- @version v 0.1 -->
<!-- @File HseHazardousWasteDirectoryMapper.xml -->
<!-- @Desc 固废管理-国家危险废物名录知识库 -->
<!-- @DateTime 2023-07-10 15:18:17 -->
<!-- @Encoding UTF-8 -->
<!-- @Description Copyright (c) 2004-2023 All Rights Reserved. -->

<mapper namespace="com.cybstar.base.secureBase.solidWaste.hazardousWaste.mapper.HseHazardousWasteDirectoryMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteDirectory">
        <!-- 流水ID -->
        <id column="sid" property="sid"/>
        <!-- appId -->
        <result column="app_id" property="appId"/>
        <!-- 危废类别 -->
        <result column="type" property="type"/>
        <!-- 危废代码 -->
        <result column="waste_code" property="wasteCode"/>
        <!-- 国家危险废物名录名称 -->
        <result column="name" property="name"/>
        <!-- 附件 -->
        <result column="file_id" property="fileId"/>
        <!-- 备注 -->
        <result column="remark" property="remark"/>
        <!-- 修改者 -->
        <result column="update_by" property="updateBy"/>
        <!-- 更新时间 -->
        <result column="update_time" property="updateTime"/>
        <!-- 创建者 -->
        <result column="create_by" property="createBy"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 租户id -->
        <result column="tenant_id" property="tenantId"/>
        <!-- 租户名称 -->
        <result column="tenant_name" property="tenantName"/>
        <!-- 删除标记 -->
        <result column="del_flag" property="delFlag"/>
    </resultMap>


    <insert id="insert" useGeneratedKeys="true" keyProperty="sid"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteDirectory">

        insert into hse_hazardous_waste_directory (

        <if test="sid != null ">
            sid,
        </if>
        <if test="appId != null ">
            app_id,
        </if>
        <if test="type != null  and type != ''">
            type,
        </if>
        <if test="wasteCode != null  and wasteCode != ''">
            waste_code,
        </if>
        <if test="name != null  and name != ''">
            name,
        </if>
        <if test="fileId != null  and fileId != ''">
            file_id,
        </if>
        <if test="remark != null  and remark != ''">
            remark,
        </if>
        <if test="updateBy != null  and updateBy != ''">
            update_by,
        </if>
        <if test="updateTime != null ">
            update_time,
        </if>
        <if test="createBy != null  and createBy != ''">
            create_by,
        </if>
        <if test="createTime != null ">
            create_time,
        </if>
        <if test="tenantId != null  and tenantId != ''">
            tenant_id,
        </if>
        <if test="tenantName != null  and tenantName != ''">
            tenant_name,
        </if>
        del_flag


        ) values (

        <if test="sid != null ">
            #{sid},
        </if>
        <if test="appId != null ">
            #{appId},
        </if>
        <if test="type != null  and type != ''">
            #{type},
        </if>
        <if test="wasteCode != null  and wasteCode != ''">
            #{wasteCode},
        </if>
        <if test="name != null  and name != ''">
            #{name},
        </if>
        <if test="fileId != null  and fileId != ''">
            #{fileId},
        </if>
        <if test="remark != null  and remark != ''">
            #{remark},
        </if>
        <if test="updateBy != null  and updateBy != ''">
            #{updateBy},
        </if>
        <if test="updateTime != null ">
            #{updateTime},
        </if>
        <if test="createBy != null  and createBy != ''">
            #{createBy},
        </if>
        <if test="createTime != null ">
            #{createTime},
        </if>
        <if test="tenantId != null  and tenantId != ''">
            #{tenantId},
        </if>
        <if test="tenantName != null  and tenantName != ''">
            #{tenantName},
        </if>
        0

        )
    </insert>


    <update id="deleteById" parameterType="Long">
        update hse_hazardous_waste_directory set del_flag = 1 where sid = #{sid}
    </update>

    <update id="deleteBatchIds" parameterType="java.util.ArrayList">
        update hse_hazardous_waste_directory set del_flag = 1 where sid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateById"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteDirectory">
        update hse_hazardous_waste_directory
        <set>
            <if test="appId != null ">
                app_id = #{appId},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="wasteCode != null and wasteCode != ''">
                waste_code = #{wasteCode},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="fileId != null and fileId != ''">
                file_id = #{fileId},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="tenantId != null and tenantId != ''">
                tenant_id = #{tenantId},
            </if>
            <if test="tenantName != null and tenantName != ''">
                tenant_name = #{tenantName},
            </if>
            <if test="delFlag != null ">
                del_flag = #{delFlag},
            </if>
        </set>
        where sid=#{sid}
    </update>

    <select id="selectById" resultMap="BaseResultMap" parameterType="Long">
        select
        sid,
        app_id,
        type,
        waste_code,
        name,
        file_id,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag
        from hse_hazardous_waste_directory
        where sid = #{sid} and del_flag=0
    </select>

    <select id="selectBatchIds" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
        select
        sid,
        app_id,
        type,
        waste_code,
        name,
        file_id,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag
        from hse_hazardous_waste_directory
        where sid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and del_flag=0
    </select>

    <select id="selectByEntity" resultMap="BaseResultMap"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteDirectory">
        select
        sid,
        app_id,
        type,
        waste_code,
        name,
        file_id,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag

        from hse_hazardous_waste_directory
        where app_id = #{appId} and del_flag=0

        <if test="sid != null ">
            and sid = #{sid}
        </if>
        <if test="appId != null ">
            and app_id = #{appId}
        </if>
        <if test="type != null  and type != ''">
            and type = #{type}
        </if>
        <if test="wasteCode != null  and wasteCode != ''">
            and waste_code = #{wasteCode}
        </if>
        <if test="name != null  and name != ''">
            and name = #{name}
        </if>
        <if test="fileId != null  and fileId != ''">
            and file_id = #{fileId}
        </if>
        <if test="remark != null  and remark != ''">
            and remark = #{remark}
        </if>
        <if test="updateBy != null  and updateBy != ''">
            and update_by = #{updateBy}
        </if>
        <if test="updateTime != null ">
            and update_time = #{updateTime}
        </if>
        <if test="createBy != null  and createBy != ''">
            and create_by = #{createBy}
        </if>
        <if test="createTime != null ">
            and create_time = #{createTime}
        </if>
        <if test="tenantId != null  and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="tenantName != null  and tenantName != ''">
            and tenant_name = #{tenantName}
        </if>
        <if test="delFlag != null ">
            and del_flag = #{delFlag}
        </if>


    </select>

    <select id="selectByKeyWord" resultMap="BaseResultMap"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.dto.HseHazardousWasteDirectoryDTO">
        select
        sid,
        app_id,
        type,
        waste_code,
        name,
        file_id,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag

        from hse_hazardous_waste_directory
        where app_id = #{appId} and del_flag=0

        <if test="keyWord != null and keyWord != ''">
            and (
            type like concat('%',#{keyWord},'%')
            or waste_code like concat('%',#{keyWord},'%')
            or name like concat('%',#{keyWord},'%')

            )
        </if>


        <if test="type != null  and type != ''">
            and type = #{type}
        </if>
        <if test="wasteCode != null  and wasteCode != ''">
            and waste_code = #{wasteCode}
        </if>
        <if test="name != null  and name != ''">
            and name = #{name}
        </if>
        <if test="fileId != null  and fileId != ''">
            and file_id = #{fileId}
        </if>


        <if test="searchStartDate != null">
            and create_time >= #{searchStartDate}
        </if>
        <if test="searchEndDate != null">
            and create_time &lt;= #{searchEndDate}
        </if>

        order by create_time desc


    </select>

</mapper>

