<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- @author A -->
<!-- @version v 0.1 -->
<!-- @File HseHazardousWasteWarehousingSubtractRecordMapper.xml -->
<!-- @Desc 固废管理-危废入库单剩余量的减量去向记录 -->
<!-- @DateTime 2023-07-18 14:52:58 -->
<!-- @Encoding UTF-8 -->
<!-- @Description Copyright (c) 2004-2023 All Rights Reserved. -->

<mapper namespace="com.cybstar.base.secureBase.solidWaste.hazardousWaste.mapper.HseHazardousWasteWarehousingSubtractRecordMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteWarehousingSubtractRecord">
        <!-- 流水ID -->
        <id column="sid" property="sid"/>
        <!-- appId -->
        <result column="app_id" property="appId"/>
        <!-- 入库单id -->
        <result column="warehousing_id" property="warehousingId"/>
        <!-- 出库单id -->
        <result column="outbound_id" property="outboundId"/>
        <!-- 减去量 -->
        <result column="subtract_quantity" property="subtractQuantity"/>
        <!-- 操作时间 -->
        <result column="operate_time" property="operateTime"/>
        <!-- 备注 -->
        <result column="remark" property="remark"/>
        <!-- 修改者 -->
        <result column="update_by" property="updateBy"/>
        <!-- 更新时间 -->
        <result column="update_time" property="updateTime"/>
        <!-- 创建者 -->
        <result column="create_by" property="createBy"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 租户id -->
        <result column="tenant_id" property="tenantId"/>
        <!-- 租户名称 -->
        <result column="tenant_name" property="tenantName"/>
        <!-- 删除标记 -->
        <result column="del_flag" property="delFlag"/>
    </resultMap>


    <insert id="insert" useGeneratedKeys="true" keyProperty="sid"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteWarehousingSubtractRecord">

        insert into hse_hazardous_waste_warehousing_subtract_record (

        <if test="sid != null ">
            sid,
        </if>
        <if test="appId != null ">
            app_id,
        </if>
        <if test="warehousingId != null  and warehousingId != ''">
            warehousing_id,
        </if>
        <if test="outboundId != null  and outboundId != ''">
            outbound_id,
        </if>
        <if test="subtractQuantity != null ">
            subtract_quantity,
        </if>
        <if test="operateTime != null ">
            operate_time,
        </if>
        <if test="remark != null  and remark != ''">
            remark,
        </if>
        <if test="updateBy != null  and updateBy != ''">
            update_by,
        </if>
        <if test="updateTime != null ">
            update_time,
        </if>
        <if test="createBy != null  and createBy != ''">
            create_by,
        </if>
        <if test="createTime != null ">
            create_time,
        </if>
        <if test="tenantId != null  and tenantId != ''">
            tenant_id,
        </if>
        <if test="tenantName != null  and tenantName != ''">
            tenant_name,
        </if>
        del_flag


        ) values (

        <if test="sid != null ">
            #{sid},
        </if>
        <if test="appId != null ">
            #{appId},
        </if>
        <if test="warehousingId != null  and warehousingId != ''">
            #{warehousingId},
        </if>
        <if test="outboundId != null  and outboundId != ''">
            #{outboundId},
        </if>
        <if test="subtractQuantity != null ">
            #{subtractQuantity},
        </if>
        <if test="operateTime != null ">
            #{operateTime},
        </if>
        <if test="remark != null  and remark != ''">
            #{remark},
        </if>
        <if test="updateBy != null  and updateBy != ''">
            #{updateBy},
        </if>
        <if test="updateTime != null ">
            #{updateTime},
        </if>
        <if test="createBy != null  and createBy != ''">
            #{createBy},
        </if>
        <if test="createTime != null ">
            #{createTime},
        </if>
        <if test="tenantId != null  and tenantId != ''">
            #{tenantId},
        </if>
        <if test="tenantName != null  and tenantName != ''">
            #{tenantName},
        </if>
        0

        )
    </insert>


    <update id="deleteById" parameterType="Long">
        update hse_hazardous_waste_warehousing_subtract_record set del_flag = 1 where sid = #{sid}
    </update>

    <update id="deleteBatchIds" parameterType="java.util.ArrayList">
        update hse_hazardous_waste_warehousing_subtract_record set del_flag = 1 where sid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateById"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteWarehousingSubtractRecord">
        update hse_hazardous_waste_warehousing_subtract_record
        <set>
            <if test="appId != null ">
                app_id = #{appId},
            </if>
            <if test="warehousingId != null and warehousingId != ''">
                warehousing_id = #{warehousingId},
            </if>
            <if test="outboundId != null and outboundId != ''">
                outbound_id = #{outboundId},
            </if>
            <if test="subtractQuantity != null ">
                subtract_quantity = #{subtractQuantity},
            </if>
            <if test="operateTime != null ">
                operate_time = #{operateTime},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="tenantId != null and tenantId != ''">
                tenant_id = #{tenantId},
            </if>
            <if test="tenantName != null and tenantName != ''">
                tenant_name = #{tenantName},
            </if>
            <if test="delFlag != null ">
                del_flag = #{delFlag},
            </if>
        </set>
        where sid=#{sid}
    </update>

    <select id="selectById" resultMap="BaseResultMap" parameterType="Long">
        select
        sid,
        app_id,
        warehousing_id,
        outbound_id,
        subtract_quantity,
        operate_time,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag
        from hse_hazardous_waste_warehousing_subtract_record
        where sid = #{sid} and del_flag=0
    </select>

    <select id="selectBatchIds" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
        select
        sid,
        app_id,
        warehousing_id,
        outbound_id,
        subtract_quantity,
        operate_time,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag
        from hse_hazardous_waste_warehousing_subtract_record
        where sid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and del_flag=0
    </select>

    <select id="selectByEntity" resultMap="BaseResultMap"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteWarehousingSubtractRecord">
        select
        sid,
        app_id,
        warehousing_id,
        outbound_id,
        subtract_quantity,
        operate_time,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag

        from hse_hazardous_waste_warehousing_subtract_record
        where app_id = #{appId} and del_flag=0

        <if test="sid != null ">
            and sid = #{sid}
        </if>
        <if test="appId != null ">
            and app_id = #{appId}
        </if>
        <if test="warehousingId != null  and warehousingId != ''">
            and warehousing_id = #{warehousingId}
        </if>
        <if test="outboundId != null  and outboundId != ''">
            and outbound_id = #{outboundId}
        </if>
        <if test="subtractQuantity != null ">
            and subtract_quantity = #{subtractQuantity}
        </if>
        <if test="operateTime != null ">
            and operate_time = #{operateTime}
        </if>
        <if test="remark != null  and remark != ''">
            and remark = #{remark}
        </if>
        <if test="updateBy != null  and updateBy != ''">
            and update_by = #{updateBy}
        </if>
        <if test="updateTime != null ">
            and update_time = #{updateTime}
        </if>
        <if test="createBy != null  and createBy != ''">
            and create_by = #{createBy}
        </if>
        <if test="createTime != null ">
            and create_time = #{createTime}
        </if>
        <if test="tenantId != null  and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="tenantName != null  and tenantName != ''">
            and tenant_name = #{tenantName}
        </if>
        <if test="delFlag != null ">
            and del_flag = #{delFlag}
        </if>


    </select>

    <select id="selectByKeyWord" resultMap="BaseResultMap"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.dto.HseHazardousWasteWarehousingSubtractRecordDTO">
        select
        sid,
        app_id,
        warehousing_id,
        outbound_id,
        subtract_quantity,
        operate_time,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag

        from hse_hazardous_waste_warehousing_subtract_record
        where app_id = #{appId} and del_flag=0

        <if test="keyWord != null and keyWord != ''">
            <!--   and (
                          xxx like concat('%',#{keyWord},'%')
                       or xxx like concat('%',#{keyWord},'%')

                   ) -->
        </if>


        <if test="warehousingId != null  and warehousingId != ''">
            and warehousing_id = #{warehousingId}
        </if>
        <if test="outboundId != null  and outboundId != ''">
            and outbound_id = #{outboundId}
        </if>
        <if test="subtractQuantity != null ">
            and subtract_quantity = #{subtractQuantity}
        </if>
        <if test="operateTime != null ">
            and operate_time = #{operateTime}
        </if>


        <if test="tenantId != null  and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="tenantName != null  and tenantName != ''">
            and tenant_name = #{tenantName}
        </if>


        <if test="searchStartDate != null">
            and create_time >= #{searchStartDate}
        </if>
        <if test="searchEndDate != null">
            and create_time &lt;= #{searchEndDate}
        </if>

        order by create_time desc


    </select>

</mapper>

