<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- @author A -->
<!-- @version v 0.1 -->
<!-- @File HseHazardousWasteOutboundMapper.xml -->
<!-- @Desc 固废管理-危废出库 -->
<!-- @DateTime 2023-07-17 15:08:57 -->
<!-- @Encoding UTF-8 -->
<!-- @Description Copyright (c) 2004-2023 All Rights Reserved. -->

<mapper namespace="com.cybstar.base.secureBase.solidWaste.hazardousWaste.mapper.HseHazardousWasteOutboundMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteOutbound">
        <!-- 流水ID -->
        <id column="sid" property="sid"/>
        <!-- appId -->
        <result column="app_id" property="appId"/>
        <!-- 关联的废物id -->
        <result column="waste_base_id" property="wasteBaseId"/>
        <!-- 关联的入库ids -->
        <result column="warehousing_ids" property="warehousingIds"/>
        <!-- 出库批次编码 -->
        <result column="outbound_code" property="outboundCode"/>
        <!-- 出库时间 -->
        <result column="outbound_time" property="outboundTime"/>
        <!-- 出库量 -->
        <result column="outbound_quantity" property="outboundQuantity"/>
        <!-- 运送部门id -->
        <result column="transport_org_id" property="transportOrgId"/>
        <!-- 运送部门name -->
        <result column="transport_org_name" property="transportOrgName"/>
        <!-- 运送部门经办人id -->
        <result column="transport_person_id" property="transportPersonId"/>
        <!-- 运送部门经办人name -->
        <result column="transport_person_name" property="transportPersonName"/>
        <!-- 出库部门id -->
        <result column="outbound_org_id" property="outboundOrgId"/>
        <!-- 出库部门name -->
        <result column="outbound_org_name" property="outboundOrgName"/>
        <!-- 出库部门经办人id -->
        <result column="outbound_person_id" property="outboundPersonId"/>
        <!-- 出库部门经办人name -->
        <result column="outbound_person_name" property="outboundPersonName"/>
        <!-- 贮存设施字典编码 -->
        <result column="storage_position_code" property="storagePositionCode"/>
        <!-- 贮存设施字典名称 -->
        <result column="storage_position_name" property="storagePositionName"/>
        <!-- 贮存设施字典类型 -->
        <result column="storage_position_type" property="storagePositionType"/>
        <!-- 容器/包装编码和类型code -->
        <result column="container_code" property="containerCode"/>
        <!-- 容器/包装编码和类型name -->
        <result column="container_name" property="containerName"/>
        <!-- 状态(0待处置;1已处置) -->
        <result column="status" property="status"/>
        <!-- 计量单位code -->
        <result column="measurement_unit_code" property="measurementUnitCode"/>
        <!-- 计量单位name -->
        <result column="measurement_unit_name" property="measurementUnitName"/>
        <!-- 容器/包装个数 -->
        <result column="container_number" property="containerNumber"/>
        <!-- 入库批次编码 -->
        <result column="warehousing_codes" property="warehousingCodes"/>
        <!-- 去向单位id -->
        <result column="destination_org_id" property="destinationOrgId"/>
        <!-- 去向单位name -->
        <result column="destination_org_name" property="destinationOrgName"/>
        <!-- 附件 -->
        <result column="file_id" property="fileId"/>
        <!-- 编号年份标记 -->
        <result column="year_tag" property="yearTag"/>
        <!-- 每个标记的最大序号 -->
        <result column="serial_number" property="serialNumber"/>
        <!-- 备注 -->
        <result column="remark" property="remark"/>
        <!-- 修改者 -->
        <result column="update_by" property="updateBy"/>
        <!-- 更新时间 -->
        <result column="update_time" property="updateTime"/>
        <!-- 创建者 -->
        <result column="create_by" property="createBy"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 租户id -->
        <result column="tenant_id" property="tenantId"/>
        <!-- 租户名称 -->
        <result column="tenant_name" property="tenantName"/>
        <!-- 删除标记 -->
        <result column="del_flag" property="delFlag"/>
    </resultMap>


    <insert id="insert" useGeneratedKeys="true" keyProperty="sid"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteOutbound">

        insert into hse_hazardous_waste_outbound (

        <if test="sid != null ">
            sid,
        </if>
        <if test="appId != null ">
            app_id,
        </if>
        <if test="wasteBaseId != null  and wasteBaseId != ''">
            waste_base_id,
        </if>
        <if test="warehousingIds != null  and warehousingIds != ''">
            warehousing_ids,
        </if>
        <if test="outboundCode != null  and outboundCode != ''">
            outbound_code,
        </if>
        <if test="outboundTime != null ">
            outbound_time,
        </if>
        <if test="outboundQuantity != null ">
            outbound_quantity,
        </if>
        <if test="transportOrgId != null  and transportOrgId != ''">
            transport_org_id,
        </if>
        <if test="transportOrgName != null  and transportOrgName != ''">
            transport_org_name,
        </if>
        <if test="transportPersonId != null  and transportPersonId != ''">
            transport_person_id,
        </if>
        <if test="transportPersonName != null  and transportPersonName != ''">
            transport_person_name,
        </if>
        <if test="outboundOrgId != null  and outboundOrgId != ''">
            outbound_org_id,
        </if>
        <if test="outboundOrgName != null  and outboundOrgName != ''">
            outbound_org_name,
        </if>
        <if test="outboundPersonId != null  and outboundPersonId != ''">
            outbound_person_id,
        </if>
        <if test="outboundPersonName != null  and outboundPersonName != ''">
            outbound_person_name,
        </if>
        <if test="storagePositionCode != null  and storagePositionCode != ''">
            storage_position_code,
        </if>
        <if test="storagePositionName != null  and storagePositionName != ''">
            storage_position_name,
        </if>
        <if test="storagePositionType != null  and storagePositionType != ''">
            storage_position_type,
        </if>
        <if test="containerCode != null  and containerCode != ''">
            container_code,
        </if>
        <if test="containerName != null  and containerName != ''">
            container_name,
        </if>
        <if test="status != null  and status != ''">
            status,
        </if>
        <if test="measurementUnitCode != null  and measurementUnitCode != ''">
            measurement_unit_code,
        </if>
        <if test="measurementUnitName != null  and measurementUnitName != ''">
            measurement_unit_name,
        </if>
        <if test="containerNumber != null ">
            container_number,
        </if>
        <if test="warehousingCodes != null  and warehousingCodes != ''">
            warehousing_codes,
        </if>
        <if test="destinationOrgId != null  and destinationOrgId != ''">
            destination_org_id,
        </if>
        <if test="destinationOrgName != null  and destinationOrgName != ''">
            destination_org_name,
        </if>
        <if test="fileId != null  and fileId != ''">
            file_id,
        </if>
        <if test="yearTag != null  and yearTag != ''">
            year_tag,
        </if>
        <if test="serialNumber != null ">
            serial_number,
        </if>
        <if test="remark != null  and remark != ''">
            remark,
        </if>
        <if test="updateBy != null  and updateBy != ''">
            update_by,
        </if>
        <if test="updateTime != null ">
            update_time,
        </if>
        <if test="createBy != null  and createBy != ''">
            create_by,
        </if>
        <if test="createTime != null ">
            create_time,
        </if>
        <if test="tenantId != null  and tenantId != ''">
            tenant_id,
        </if>
        <if test="tenantName != null  and tenantName != ''">
            tenant_name,
        </if>
        del_flag


        ) values (

        <if test="sid != null ">
            #{sid},
        </if>
        <if test="appId != null ">
            #{appId},
        </if>
        <if test="wasteBaseId != null  and wasteBaseId != ''">
            #{wasteBaseId},
        </if>
        <if test="warehousingIds != null  and warehousingIds != ''">
            #{warehousingIds},
        </if>
        <if test="outboundCode != null  and outboundCode != ''">
            #{outboundCode},
        </if>
        <if test="outboundTime != null ">
            #{outboundTime},
        </if>
        <if test="outboundQuantity != null ">
            #{outboundQuantity},
        </if>
        <if test="transportOrgId != null  and transportOrgId != ''">
            #{transportOrgId},
        </if>
        <if test="transportOrgName != null  and transportOrgName != ''">
            #{transportOrgName},
        </if>
        <if test="transportPersonId != null  and transportPersonId != ''">
            #{transportPersonId},
        </if>
        <if test="transportPersonName != null  and transportPersonName != ''">
            #{transportPersonName},
        </if>
        <if test="outboundOrgId != null  and outboundOrgId != ''">
            #{outboundOrgId},
        </if>
        <if test="outboundOrgName != null  and outboundOrgName != ''">
            #{outboundOrgName},
        </if>
        <if test="outboundPersonId != null  and outboundPersonId != ''">
            #{outboundPersonId},
        </if>
        <if test="outboundPersonName != null  and outboundPersonName != ''">
            #{outboundPersonName},
        </if>
        <if test="storagePositionCode != null  and storagePositionCode != ''">
            #{storagePositionCode},
        </if>
        <if test="storagePositionName != null  and storagePositionName != ''">
            #{storagePositionName},
        </if>
        <if test="storagePositionType != null  and storagePositionType != ''">
            #{storagePositionType},
        </if>
        <if test="containerCode != null  and containerCode != ''">
            #{containerCode},
        </if>
        <if test="containerName != null  and containerName != ''">
            #{containerName},
        </if>
        <if test="status != null  and status != ''">
            #{status},
        </if>
        <if test="measurementUnitCode != null  and measurementUnitCode != ''">
            #{measurementUnitCode},
        </if>
        <if test="measurementUnitName != null  and measurementUnitName != ''">
            #{measurementUnitName},
        </if>
        <if test="containerNumber != null ">
            #{containerNumber},
        </if>
        <if test="warehousingCodes != null  and warehousingCodes != ''">
            #{warehousingCodes},
        </if>
        <if test="destinationOrgId != null  and destinationOrgId != ''">
            #{destinationOrgId},
        </if>
        <if test="destinationOrgName != null  and destinationOrgName != ''">
            #{destinationOrgName},
        </if>
        <if test="fileId != null  and fileId != ''">
            #{fileId},
        </if>
        <if test="yearTag != null  and yearTag != ''">
            #{yearTag},
        </if>
        <if test="serialNumber != null ">
            #{serialNumber},
        </if>
        <if test="remark != null  and remark != ''">
            #{remark},
        </if>
        <if test="updateBy != null  and updateBy != ''">
            #{updateBy},
        </if>
        <if test="updateTime != null ">
            #{updateTime},
        </if>
        <if test="createBy != null  and createBy != ''">
            #{createBy},
        </if>
        <if test="createTime != null ">
            #{createTime},
        </if>
        <if test="tenantId != null  and tenantId != ''">
            #{tenantId},
        </if>
        <if test="tenantName != null  and tenantName != ''">
            #{tenantName},
        </if>
        0

        )
    </insert>


    <update id="deleteById" parameterType="Long">
        update hse_hazardous_waste_outbound set del_flag = 1 where sid = #{sid}
    </update>

    <update id="deleteBatchIds" parameterType="java.util.ArrayList">
        update hse_hazardous_waste_outbound set del_flag = 1 where sid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateById"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteOutbound">
        update hse_hazardous_waste_outbound
        <set>
            <if test="appId != null ">
                app_id = #{appId},
            </if>
            <if test="wasteBaseId != null and wasteBaseId != ''">
                waste_base_id = #{wasteBaseId},
            </if>
            <if test="warehousingIds != null and warehousingIds != ''">
                warehousing_ids = #{warehousingIds},
            </if>
            <if test="outboundCode != null and outboundCode != ''">
                outbound_code = #{outboundCode},
            </if>
            <if test="outboundTime != null ">
                outbound_time = #{outboundTime},
            </if>
            <if test="outboundQuantity != null ">
                outbound_quantity = #{outboundQuantity},
            </if>
            <if test="transportOrgId != null and transportOrgId != ''">
                transport_org_id = #{transportOrgId},
            </if>
            <if test="transportOrgName != null and transportOrgName != ''">
                transport_org_name = #{transportOrgName},
            </if>
            <if test="transportPersonId != null and transportPersonId != ''">
                transport_person_id = #{transportPersonId},
            </if>
            <if test="transportPersonName != null and transportPersonName != ''">
                transport_person_name = #{transportPersonName},
            </if>
            <if test="outboundOrgId != null and outboundOrgId != ''">
                outbound_org_id = #{outboundOrgId},
            </if>
            <if test="outboundOrgName != null and outboundOrgName != ''">
                outbound_org_name = #{outboundOrgName},
            </if>
            <if test="outboundPersonId != null and outboundPersonId != ''">
                outbound_person_id = #{outboundPersonId},
            </if>
            <if test="outboundPersonName != null and outboundPersonName != ''">
                outbound_person_name = #{outboundPersonName},
            </if>
            <if test="storagePositionCode != null and storagePositionCode != ''">
                storage_position_code = #{storagePositionCode},
            </if>
            <if test="storagePositionName != null and storagePositionName != ''">
                storage_position_name = #{storagePositionName},
            </if>
            <if test="storagePositionType != null and storagePositionType != ''">
                storage_position_type = #{storagePositionType},
            </if>
            <if test="containerCode != null and containerCode != ''">
                container_code = #{containerCode},
            </if>
            <if test="containerName != null and containerName != ''">
                container_name = #{containerName},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="measurementUnitCode != null and measurementUnitCode != ''">
                measurement_unit_code = #{measurementUnitCode},
            </if>
            <if test="measurementUnitName != null and measurementUnitName != ''">
                measurement_unit_name = #{measurementUnitName},
            </if>
            <if test="containerNumber != null ">
                container_number = #{containerNumber},
            </if>
            <if test="warehousingCodes != null and warehousingCodes != ''">
                warehousing_codes = #{warehousingCodes},
            </if>
            <if test="destinationOrgId != null and destinationOrgId != ''">
                destination_org_id = #{destinationOrgId},
            </if>
            <if test="destinationOrgName != null and destinationOrgName != ''">
                destination_org_name = #{destinationOrgName},
            </if>
            <if test="fileId != null and fileId != ''">
                file_id = #{fileId},
            </if>
            <if test="yearTag != null and yearTag != ''">
                year_tag = #{yearTag},
            </if>
            <if test="serialNumber != null ">
                serial_number = #{serialNumber},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="tenantId != null and tenantId != ''">
                tenant_id = #{tenantId},
            </if>
            <if test="tenantName != null and tenantName != ''">
                tenant_name = #{tenantName},
            </if>
            <if test="delFlag != null ">
                del_flag = #{delFlag},
            </if>
        </set>
        where sid=#{sid}
    </update>

    <select id="selectById" resultMap="BaseResultMap" parameterType="Long">
        select
        sid,
        app_id,
        waste_base_id,
        warehousing_ids,
        outbound_code,
        outbound_time,
        outbound_quantity,
        transport_org_id,
        transport_org_name,
        transport_person_id,
        transport_person_name,
        outbound_org_id,
        outbound_org_name,
        outbound_person_id,
        outbound_person_name,
        storage_position_code,
        storage_position_name,
        storage_position_type,
        container_code,
        container_name,
        status,
        measurement_unit_code,
        measurement_unit_name,
        container_number,
        warehousing_codes,
        destination_org_id,
        destination_org_name,
        file_id,
        year_tag,
        serial_number,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag
        from hse_hazardous_waste_outbound
        where sid = #{sid} and del_flag=0
    </select>

    <select id="selectBatchIds" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
        select
        sid,
        app_id,
        waste_base_id,
        warehousing_ids,
        outbound_code,
        outbound_time,
        outbound_quantity,
        transport_org_id,
        transport_org_name,
        transport_person_id,
        transport_person_name,
        outbound_org_id,
        outbound_org_name,
        outbound_person_id,
        outbound_person_name,
        storage_position_code,
        storage_position_name,
        storage_position_type,
        container_code,
        container_name,
        status,
        measurement_unit_code,
        measurement_unit_name,
        container_number,
        warehousing_codes,
        destination_org_id,
        destination_org_name,
        file_id,
        year_tag,
        serial_number,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag
        from hse_hazardous_waste_outbound
        where sid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and del_flag=0
    </select>

    <select id="selectByEntity" resultMap="BaseResultMap"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.entity.HseHazardousWasteOutbound">
        select
        sid,
        app_id,
        waste_base_id,
        warehousing_ids,
        outbound_code,
        outbound_time,
        outbound_quantity,
        transport_org_id,
        transport_org_name,
        transport_person_id,
        transport_person_name,
        outbound_org_id,
        outbound_org_name,
        outbound_person_id,
        outbound_person_name,
        storage_position_code,
        storage_position_name,
        storage_position_type,
        container_code,
        container_name,
        status,
        measurement_unit_code,
        measurement_unit_name,
        container_number,
        warehousing_codes,
        destination_org_id,
        destination_org_name,
        file_id,
        year_tag,
        serial_number,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag

        from hse_hazardous_waste_outbound
        where app_id = #{appId} and del_flag=0

        <if test="sid != null ">
            and sid = #{sid}
        </if>
        <if test="appId != null ">
            and app_id = #{appId}
        </if>
        <if test="wasteBaseId != null  and wasteBaseId != ''">
            and waste_base_id = #{wasteBaseId}
        </if>
        <if test="warehousingIds != null  and warehousingIds != ''">
            and warehousing_ids = #{warehousingIds}
        </if>
        <if test="outboundCode != null  and outboundCode != ''">
            and outbound_code = #{outboundCode}
        </if>
        <if test="outboundTime != null ">
            and outbound_time = #{outboundTime}
        </if>
        <if test="outboundQuantity != null ">
            and outbound_quantity = #{outboundQuantity}
        </if>
        <if test="transportOrgId != null  and transportOrgId != ''">
            and transport_org_id = #{transportOrgId}
        </if>
        <if test="transportOrgName != null  and transportOrgName != ''">
            and transport_org_name = #{transportOrgName}
        </if>
        <if test="transportPersonId != null  and transportPersonId != ''">
            and transport_person_id = #{transportPersonId}
        </if>
        <if test="transportPersonName != null  and transportPersonName != ''">
            and transport_person_name = #{transportPersonName}
        </if>
        <if test="outboundOrgId != null  and outboundOrgId != ''">
            and outbound_org_id = #{outboundOrgId}
        </if>
        <if test="outboundOrgName != null  and outboundOrgName != ''">
            and outbound_org_name = #{outboundOrgName}
        </if>
        <if test="outboundPersonId != null  and outboundPersonId != ''">
            and outbound_person_id = #{outboundPersonId}
        </if>
        <if test="outboundPersonName != null  and outboundPersonName != ''">
            and outbound_person_name = #{outboundPersonName}
        </if>
        <if test="storagePositionCode != null  and storagePositionCode != ''">
            and storage_position_code = #{storagePositionCode}
        </if>
        <if test="storagePositionName != null  and storagePositionName != ''">
            and storage_position_name = #{storagePositionName}
        </if>
        <if test="storagePositionType != null  and storagePositionType != ''">
            and storage_position_type = #{storagePositionType}
        </if>
        <if test="containerCode != null  and containerCode != ''">
            and container_code = #{containerCode}
        </if>
        <if test="containerName != null  and containerName != ''">
            and container_name = #{containerName}
        </if>
        <if test="status != null  and status != ''">
            and status = #{status}
        </if>
        <if test="measurementUnitCode != null  and measurementUnitCode != ''">
            and measurement_unit_code = #{measurementUnitCode}
        </if>
        <if test="measurementUnitName != null  and measurementUnitName != ''">
            and measurement_unit_name = #{measurementUnitName}
        </if>
        <if test="containerNumber != null ">
            and container_number = #{containerNumber}
        </if>
        <if test="warehousingCodes != null  and warehousingCodes != ''">
            and warehousing_codes = #{warehousingCodes}
        </if>
        <if test="destinationOrgId != null  and destinationOrgId != ''">
            and destination_org_id = #{destinationOrgId}
        </if>
        <if test="destinationOrgName != null  and destinationOrgName != ''">
            and destination_org_name = #{destinationOrgName}
        </if>
        <if test="fileId != null  and fileId != ''">
            and file_id = #{fileId}
        </if>
        <if test="yearTag != null  and yearTag != ''">
            and year_tag = #{yearTag}
        </if>
        <if test="serialNumber != null ">
            and serial_number = #{serialNumber}
        </if>
        <if test="remark != null  and remark != ''">
            and remark = #{remark}
        </if>
        <if test="updateBy != null  and updateBy != ''">
            and update_by = #{updateBy}
        </if>
        <if test="updateTime != null ">
            and update_time = #{updateTime}
        </if>
        <if test="createBy != null  and createBy != ''">
            and create_by = #{createBy}
        </if>
        <if test="createTime != null ">
            and create_time = #{createTime}
        </if>
        <if test="tenantId != null  and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="tenantName != null  and tenantName != ''">
            and tenant_name = #{tenantName}
        </if>
        <if test="delFlag != null ">
            and del_flag = #{delFlag}
        </if>


    </select>

    <select id="selectByKeyWord" resultType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.vo.HseHazardousWasteOutboundVO"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.dto.HseHazardousWasteOutboundDTO">
        select
        outbound.sid,
        outbound.app_id as appId,
        outbound.waste_base_id as wasteBaseId,
        outbound.warehousing_ids as warehousingIds,
        outbound.outbound_code as outboundCode,
        outbound.transport_org_id as transportOrgId,
        outbound.transport_org_name as transportOrgName,
        outbound.transport_person_id as transportPersonId,
        outbound.transport_person_name as transportPersonName,
        outbound.outbound_org_id as outboundOrgId,
        outbound.outbound_org_name as outboundOrgName,
        outbound.outbound_person_id as outboundPersonId,
        outbound.outbound_person_name as outboundPersonName,
        outbound.storage_position_code as storagePositionCode,
        outbound.storage_position_name as storagePositionName,
        outbound.storage_position_type as storagePositionType,
        outbound.container_code as containerCode,
        outbound.container_name as containerName,
        outbound.status,
        outbound.measurement_unit_code as measurementUnitCode,
        outbound.measurement_unit_name as measurementUnitName,
        outbound.container_number as containerNumber,
        outbound.outbound_quantity as outboundQuantity,
        outbound.outbound_time as outboundTime,
        outbound.warehousing_codes as warehousingCodes,
        outbound.destination_org_id as destinationOrgId,
        outbound.destination_org_name as destinationOrgName,
        outbound.file_id as fileId,
        outbound.year_tag,
        outbound.serial_number,
        outbound.remark,
        outbound.update_by,
        outbound.update_time,
        outbound.create_by,
        outbound.create_time,
        outbound.tenant_id,
        outbound.tenant_name,
        outbound.del_flag,

        base.waste_name as wasteBaseName,
        directory.waste_code as wasteCode,
        directory.name as wasteName,
        directory.type as wasteType


        from hse_hazardous_waste_outbound as outbound
        left join hse_hazardous_waste_base base on base.sid = outbound.waste_base_id
        left join hse_hazardous_waste_directory directory on base.directory_id = directory.sid

        where outbound.app_id = #{appId} and outbound.del_flag = 0
        and base.app_id = #{appId} and base.del_flag = 0
        and directory.app_id = #{appId} and directory.del_flag = 0

        <if test="keyWord != null and keyWord != ''">
            and (
            outbound.outbound_code like concat('%',#{keyWord},'%')
            or outbound.outbound_person_name like concat('%',#{keyWord},'%')
            or base.waste_name like concat('%',#{keyWord},'%')
            or directory.waste_code like concat('%',#{keyWord},'%')
            )
        </if>


        <if test="wasteBaseId != null  and wasteBaseId != ''">
            and outbound.waste_base_id = #{wasteBaseId}
        </if>
        <if test="warehousingIds != null  and warehousingIds != ''">
            and outbound.warehousing_ids = #{warehousingIds}
        </if>
        <if test="outboundCode != null  and outboundCode != ''">
            and outbound.outbound_code = #{outboundCode}
        </if>
        <if test="outboundTime != null ">
            and outbound.outbound_time = #{outboundTime}
        </if>
        <if test="outboundQuantity != null ">
            and outbound.outbound_quantity = #{outboundQuantity}
        </if>
        <if test="transportOrgId != null  and transportOrgId != ''">
            and outbound.transport_org_id = #{transportOrgId}
        </if>
        <if test="transportOrgName != null  and transportOrgName != ''">
            and outbound.transport_org_name = #{transportOrgName}
        </if>
        <if test="transportPersonId != null  and transportPersonId != ''">
            and outbound.transport_person_id = #{transportPersonId}
        </if>
        <if test="transportPersonName != null  and transportPersonName != ''">
            and outbound.transport_person_name = #{transportPersonName}
        </if>
        <if test="outboundOrgId != null  and outboundOrgId != ''">
            and outbound.outbound_org_id = #{outboundOrgId}
        </if>
        <if test="outboundOrgName != null  and outboundOrgName != ''">
            and outbound.outbound_org_name = #{outboundOrgName}
        </if>
        <if test="outboundPersonId != null  and outboundPersonId != ''">
            and outbound.outbound_person_id = #{outboundPersonId}
        </if>
        <if test="outboundPersonName != null  and outboundPersonName != ''">
            and outbound.outbound_person_name = #{outboundPersonName}
        </if>
        <if test="storagePositionCode != null  and storagePositionCode != ''">
            and outbound.storage_position_code = #{storagePositionCode}
        </if>
        <if test="storagePositionName != null  and storagePositionName != ''">
            and outbound.storage_position_name = #{storagePositionName}
        </if>
        <if test="storagePositionType != null  and storagePositionType != ''">
            and outbound.storage_position_type = #{storagePositionType}
        </if>
        <if test="containerCode != null  and containerCode != ''">
            and outbound.container_code = #{containerCode}
        </if>
        <if test="containerName != null  and containerName != ''">
            and outbound.container_name = #{containerName}
        </if>
        <if test="status != null  and status != ''">
            and outbound.status = #{status}
        </if>
        <if test="measurementUnitCode != null  and measurementUnitCode != ''">
            and outbound.measurement_unit_code = #{measurementUnitCode}
        </if>
        <if test="measurementUnitName != null  and measurementUnitName != ''">
            and outbound.measurement_unit_name = #{measurementUnitName}
        </if>
        <if test="containerNumber != null ">
            and outbound.container_number = #{containerNumber}
        </if>
        <if test="warehousingCodes != null  and warehousingCodes != ''">
            and outbound.warehousing_codes = #{warehousingCodes}
        </if>
        <if test="destinationOrgId != null  and destinationOrgId != ''">
            and outbound.destination_org_id = #{destinationOrgId}
        </if>
        <if test="destinationOrgName != null  and destinationOrgName != ''">
            and outbound.destination_org_name = #{destinationOrgName}
        </if>
        <if test="fileId != null  and fileId != ''">
            and outbound.file_id = #{fileId}
        </if>
        <if test="yearTag != null  and yearTag != ''">
            and outbound.year_tag = #{yearTag}
        </if>
        <if test="serialNumber != null ">
            and outbound.serial_number = #{serialNumber}
        </if>

        <if test="searchStartDate != null">
            and outbound.outbound_time >= #{searchStartDate}
        </if>
        <if test="searchEndDate != null">
            and outbound.outbound_time &lt;= #{searchEndDate}
        </if>

        order by outbound.create_time desc


    </select>
    <select id="selectLastOneForYear"
            resultMap="BaseResultMap"
            parameterType="com.cybstar.base.secureBase.solidWaste.hazardousWaste.dto.HseHazardousWasteOutboundDTO">

        select
        sid,
        app_id,
        waste_base_id,
        warehousing_ids,
        outbound_code,
        outbound_time,
        outbound_quantity,
        transport_org_id,
        transport_org_name,
        transport_person_id,
        transport_person_name,
        outbound_org_id,
        outbound_org_name,
        outbound_person_id,
        outbound_person_name,
        storage_position_code,
        storage_position_name,
        storage_position_type,
        container_code,
        container_name,
        status,
        measurement_unit_code,
        measurement_unit_name,
        container_number,
        warehousing_codes,
        destination_org_id,
        destination_org_name,
        file_id,
        year_tag,
        serial_number,
        remark,
        update_by,
        update_time,
        create_by,
        create_time,
        tenant_id,
        tenant_name,
        del_flag

        from hse_hazardous_waste_outbound
        where app_id = #{appId} <!--and del_flag = 0-->

        and year_tag = #{yearTag}

        order by serial_number desc
        limit 1;

    </select>

</mapper>

